{% extends 'core/base.html' %}
{% block content %}
{% include 'core/navbar/home.html' %}
		<div class="container-fluid page-header py-6 my-6 mt-0 wow fadeIn" data-wow-delay="0.1s">
				<div class="container text-center">
						<h1 class="display-4 text-white animated slideInDown mb-4">Campionatos Abertos</h1>
						<nav aria-label="breadcrumb animated slideInDown">
								<ol class="breadcrumb justify-content-center mb-0">
										<li class="breadcrumb-item"><a class="text-white" href="{% url 'times:home' %}">Home</a></li>
										<li class="breadcrumb-item text-primary active" aria-current="page">Campionatos</li>
								</ol>
						</nav>
				</div>
		</div>

	<div class="container py-5 h-100">
		<div class="row d-flex justify-content-center align-items-center h-100">
			<div class="col col-xl-10">
			    {% for i in objects %}
				<div class="card mb-5" style="border-radius: 15px;">
					<div class="card-body p-4">
						<h3 class="mb-3">Program Title</h3>
						<p class="small mb-0"><i class="far fa-star fa-lg"></i> <span class="mx-2">|</span> Inicio previsto do campionato
							<strong>{{i.start}}</strong>, preparece</p>
						<hr class="my-4">
						<div class="d-flex justify-content-start align-items-center">
						    {% if user.is_staff %}
							<p class="mb-0 text-uppercase"><i class="fas fa-cog me-2"></i> <span
									class="text-muted small">settings</span></a>
							{% endif %}
							<a href="https://www.instagram.com/jax.jg" class="mb-0 text-uppercase"><i class="fas fa-link ms-4 me-2"></i> <span
									class="text-muted small">Contato</span></a>
							<a class="mb-0 text-uppercase"><i class="fas fa-ellipsis-h ms-4 me-2"></i> <span
									class="text-muted small">Detalhes</span>
								<span class="ms-3 me-4">|</span></p>
							<a href="{{ i.get_absolute_url }}">
								<img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-2.webp" alt="avatar"
									class="img-fluid rounded-circle me-3" width="35">
							</a>
							<button type="button" class="btn btn-outline-dark btn-sm btn-floating">
								<i class="fas fa-plus"></i>
							</button>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}